{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container-fluid spimg  p-5">
    <h2 class="text-white font-weight-bold text-center text-uppercase">Change Password</h2> <br>
    <div class="container">
        <div class="card bg-dark p-5">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="Send email" class="btn btn-primary text-white font-weight-bold btn-md">Submit</button>
            </form>
        </div>
    </div>
    </div>
</section>
{% endblock %}