{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="container-fluid spimg p-5">
    <div class="container ">
        <h1 class="text-white font-weight-bold text-center text-uppercase p-2">Password reset sent</h1>
        <h4 class="text-white font-weight-bold text-capitalize">
            plese check your email click on confirmations email,
            We've emailed you instructions for setting your Password, if an account exists with the email you entered.
            You should receive them shortly.
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </h4>
        <a class="btn btn-success" href="https://mail.google.com/mail/u/0/?tab=wm">click here</a>
    </div>
</section>
{% endblock %}