{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="container-fluid spimg p-5">
    <div class="container">
        <h1 class="text-center text-white font-weight-bold">Password reset complete</h1>
        <h4 class="text-white text-center">Your Password has been set. Your may go ahead and log in now.</h4>
        <center>
            <a href="{% url 'login' %}" class=" text-capitalize font-weight-bold btn btn-block btn-success btn-lg"> Plese Log in</a>
        </center>
    </div>
</section>
{% endblock %}