{% extends 'base.html' %}
{% block title %} about page {% endblock title %}
{% block content %}
{% load static %}
<section class="container-fluid p-5 ">
    <div class="row p-2">
        <div class="col-md-4 sp">
            <img src="/static/images/35.jpg" class="img-fluid img-responsive img-thumbnail w-100 img-rounded" style="width: 400px; height: 400px; border-radius: 50px 120px;">
        </div>
        <div class="col-md-8 font-weight-bold">
            <h1 class="text-center text-danger  font-weight-bold p-2 text-uppercase"><i class='fas fa-atom animated infinite rollIn' style='font-size:48px;color:red'></i> About Us</h1>
            <h3 class="text-gray-dark">Hello, everyone I am Santosh pal I am B.tech graduate as well a good web designer. I have done Advance Diploma in web designing, my strength are I am self-motivated and hardworking and disciplined person, I like to learn new things and achieve as much knowledge as possible.
            </h3>
            <br>
            <h3 class="text-gray-dark">My attributes are I have made many templates, Portfolio in web designing Project. I have made calculator using java script. I have better experience about Django I have work a lot on Django Project, and I have made E-commerce project using python language as well as I have good skills about Photoshop(CS6), Coral Draw X6, animation.
            </h3>
        </div>
    </div>
</section>
{% endblock %}