{% extends 'base.html' %}
{% block title %} Profile page {% endblock title %}
{% block content %}
<div class="container-fluid p-5 bg-light">
    <h1 class="text-center text-uppercase ">Profiles </h1>
    <hr>
    <form class="form-inline">
        <input class="form-control mr-3" placeholder="Search" value="{{ request.GET.si }}" type="text" name="si" />
        <input class="btn btn-dark mr-3" type="submit" value="Search" />
    </form>
<br>
    <div class="container">
    <table class="table my-3 p-5">
        <thead class="bg-dark font-weight-bold text-capitalize text-white" >
            <tr>
                <th>Profile Pic</th>
                <th>Name</th>
                <!-- <th>Age</th> -->
                <th>Gender</th>
                <th>Action</th>
                <th>Friends</th>

            </tr>
        </thead>
        {% for n1 in myprofile_list %}
        <tr class="text-gray-dark display-3 font-weight-bold text-uppercase">
            <td><img style="width: 50px; height: 50px;" class="img-fluid rounded-circle" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-business-user-profile-vector-png-image_4830519.jpg" /></td>
            <td>{{n1.name}}</td>
            <!-- <td>{{n1.age}}</td> -->
            <td>{{n1.gender}}</td>
            <td>
                <a class="btn btn-dark btn-sm" href='/social/myprofile/{{n1.id}}'>Read More</a>
                </td>

               <td class="mr-5">
                {% if n1.followed %}
                <a class="btn btn-danger btn-md" href='/social/myprofile/unfollow/{{n1.id}}'>Unfollow</a>
                {% else %}
                <a class="btn btn-primary btn-md" href='/social/myprofile/follow/{{n1.id}}'>Follow</a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}