{% extends 'base.html' %}
{% block content %}
<section class="container-fluid spimg">
    <div class="container card bg-light p-5">
        <h1 class="myhead2">{{myprofile.name}}</h1>
        <hr>
        <div class="row m-auto">
            <div class="col-md-4">
                <img class="img-fluid img-responsive img-thumbnail w-100" src="/media/{{myprofile.pic}}" style=" height:500px;" />
            </div>
            <br>
            <div class="col-md-8 p-5 text-gray-dark text-uppercase font-weight-bold">
                <h3><i class="nav-link text-primary  font-weight-bold fa fa-child"></i>AGE: <b class="ml-5">{{myprofile.age}} </b></h3>
                <hr>
                <h3> <i class="nav-link text-primary  font-weight-bold 
		fa fa-venus-double"></i>Gender <b class="ml-5">{{myprofile.gender}}</b> </h3>
                <hr>
                <h3><i class="nav-link text-primary  font-weight-bold far fa-home"></i>Adress: <b class="ml-5">{{myprofile.address}}</b></h3>
                <hr>
                <h3><i class="nav-link text-primary  font-weight-bold 
	fa fa-genderless"></i>Status:<b class="ml-5">{{myprofile.status}}</b></h3>
                <hr>
                <h3> <i class="nav-link text-primary  font-weight-bold far fa-phone"></i>Number: <b class="ml-5">{{myprofile.phone_no}}</b></h3>
                <hr>
                <h3><i class="nav-link text-primary  font-weight-bold fa fa-spinner"></i>Description : <b class="ml-5">{{myprofile.description}}</b></h3>
                <hr>
            </div>
            <a href="/social/myprofile" class="btn btn-dark">Back</a>
        </div>
    </div>
</section>
{% endblock %}